#body-main{
    height: 100vh;
    background: linear-gradient(0deg,  rgba(252,252,252,1) 30%,rgb(13, 148, 182) 100%);
}
#body{
    height: 100vh;
    background: linear-gradient(0deg,  rgba(252,252,252,1) 30%,rgb(23, 112, 82) 100%);
 }
   .back-button{
    width: 55px;
    position: fixed;
    left: 15px;
    top: 15px;
    transition: all 1.15s;
}
.back-button:hover{
    transform: scale(1.4);
}
.calendar{ 
    position: fixed;
    right: 15px;
    top: 15px;
    font-size: 35px;
}
.container{
    max-width: 1050px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.display-none{
    display: none;
}
.title{
    font-size: 45px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px black;
    margin-bottom: 25px;
    margin-top: 8px;
}
.weekdays-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    height: 600px;
}
.opacity-none{
    text-align: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 1.15s;
    display: flex;
    justify-content: center;
}
.opacity-none h1{
    position: absolute;
    bottom: 0;
    transition: all 1.15s;
}
.week-day:hover .opacity-none{
    opacity: 1;
    background: linear-gradient(0deg, rgb(13, 148, 182) 35%, rgba(252,252,252,1) 100%);
    border-radius: 30px;
    text-align: center;
    margin-top: 10px;
}
.week-day:hover .opacity-none h1{
    position: absolute;
    bottom: 150px;
    color: white;
    font-size: 25px;
    width: 90%;
    text-align: center;
    margin-right: 10px;
}
#open-monday{
    background-image: url(../photos/testThursday.jpeg);
    background-position: bottom;
}
#open-tuesday{
    background-image: url(../photos/thursdayalarm.jpeg);
    background-position: top;
}
#open-wednesday{
    background-image: url(../photos/testWednesday.jpeg);
    background-position: bottom;
}
#open-thursday{
    background-image: url(../photos/testmonday.jpeg);
    background-position: bottom;
}
#open-friday{
    background-image: url(../photos/testTuesday.jpeg);
    background-position: bottom;
}
#open-saturday {
    background-image: url(../photos/testalarm.jpeg);
    background-position: left;
}
#open-sunday {
    background-image: url(../photos/yellowwhite.jpeg);
    background-position: bottom;
}
#open-notes{
    background-image: url(../photos/notetest.jpeg);
}

.week-day{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 10px 15px 55px white;
    transition: all 1.15s;
    height: 100%;
    width: 100%;
}
.week-day:hover{
    transform: scale(1.2); 
}




/* todo list */
.week-day-personal{
    font-size: 45px;
    color: white;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* .week-day-personal{
    background-image: url(../photos/ready.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 60%;
    width: 100%;
    max-height: 70%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
} */
/* #day-title{
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    background-color: rgb(238, 216, 188);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 15px 15px 25px white;
} */
#input{
    width: 291px;
    height: 34px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 4px 4px 10px black;
    font-size: 20px;
    padding: 20px 15px;
}
#add-btn{
   
    padding: 11px 15px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 20px black;
}
.li{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 350px;
    margin-top: 15px;
    max-height: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    cursor: pointer;
    font-size: 24px;
    overflow-y:hidden;
}

.icon{
    width: 20px;
    height: 25px;
    margin-right: 4px;
}
.icon:hover{
    transform: scale(1.5);
}

#ul{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    height: 100%;
    overflow: scroll;
}
.done{
    background-color: green;
    color: white;
}
/* NOTES */

.notes-title{
    font-size: 45px;
    color: white;
}


/* Animations */

.ready{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: ready;
    animation-duration: 1.15s;
    animation-iteration-count: 1;
    opacity: 0;
    text-shadow: 20px 20px 20px black;
    z-index: -1;
}
.set{
    color: white;
    font-size: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation-name: set;
    animation-delay: 1s;
    animation-duration: 1.15s;
    animation-iteration-count: 1;
    color: orange;
    text-shadow: 10px 10px 20px red;
    z-index: -1;
}
.go{
    color: green;
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation-name: go;
    animation-delay: 2s;
    animation-duration: 1.15s;
    animation-iteration-count: 1;
    text-shadow: 10px 10px 20px black;
    z-index: -1;

}
@keyframes ready {
    from {
        opacity   : 1;
    }
    to {
        opacity   : 0;
    }
}
@keyframes set {
    from {
        opacity   : 1;
    }
    to {
        opacity   : 0;
    }
}
@keyframes go {
    from {
        opacity   : 1;
    }
    to {
        opacity   : 0;
    }
}
/* responsive container */
.responsive-container{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
}
.responsive-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.responsive-grid-container div{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background-color: burlywood;
    border-radius: 20px;
    padding: 20px;
}
.responsive-grid-container div a{
    color: white;
    padding: 20px;
}