body{
    height: 100vh;
    background-image: url();
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color:rgb(37, 107, 131);


background: radial-gradient(circle, rgb(37, 107, 131) 59%, rgba(0,0,0) 100%);

}
.back-button{
    width: 50px;
    position: fixed;
    left: 15px;
    top: 15px;
    transition: all 1.15s;
}
.back-button:hover{
    transform: scale(1.3);
}
.calendar{ 
    position: fixed;
    right: 15px;
    top: 15px;
    font-size: 30px;
}
.container{
    max-width: 1050px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.display-none{
    display: none;
}
.title{
    font-size: 45px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px black;
    margin-bottom: 25px;
    margin-top: 8px;
}
.weekdays-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    height: 600px;
}
#open-monday{
    background-image: url(../photos/monday.webp);
}
.week-day:hover .opacity-none{
    opacity: 1;
    color: red;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
#open-tuesday{
    background-image: url(../photos/tuesday.jpeg);
}
#open-wednesday{
    background-image: url(../photos/wednesday.jpeg);
    background-position: left;
}
#open-thursday{
    background-image: url(../photos/thursday.jpeg);
    background-position: top;
}
#open-friday{
    background-image: url(../photos/friday.jpeg);
    background-position: top;
}
#open-saturday {
    background-image: url(../photos/saturday.jpeg);
}
#open-sunday {
    background-image: url(../photos/sunday.jpeg);
    background-position: top;
}
#open-notes{
    background-image: url(../photos/notes.png);
}

.week-day{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 10px 15px 55px white;
    transition: all 1.15s;
    height: 100%;
    width: 100%;
}
.week-day:hover{
    transform: scale(1.2); 
}

.opacity-none{
    text-align: center;
    opacity: 0;
    transition: all 1.15s;
}


/* monday */
.week-day-personal{
    font-size: 45px;
    color: white;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* .week-day-personal{
    background-image: url(../photos/ready.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 60%;
    width: 100%;
    max-height: 70%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
} */
/* #day-title{
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    background-color: rgb(238, 216, 188);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 15px 15px 25px white;
} */
#input{
    width: 291px;
    height: 34px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 4px 4px 10px black;
    font-size: 20px;
    padding: 10px 15px;
}
#add-btn{
    width: 50px;
    height: 34px;
    border-radius: 20px;
    background-color: black;
    color:white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 20px black;
}
.li{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 350px;
    margin-top: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
}

.icon{
    width: 20px;
    height: 25px;
    flex-basis: 10;
    margin-right: 4px;
}
.icon:hover{
    transform: scale(1.5);
}

#ul{
    display: flex;
    flex-direction: column;
}
.done{
    background-color: green;
    color: white;
}
/* NOTES */

.notes-title{
    font-size: 45px;
    color: white;
}




.ready{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: ready;
    animation-duration: 8s;
    animation-iteration-count: 1;
    opacity: 0;
    text-shadow: 20px 20px 20px black;
}
.set{
    color: white;
    font-size: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation-name: set;
    animation-delay: 5s;
    animation-duration: 1.5s;
    animation-iteration-count: 4;
    color: orange;
    text-shadow: 10px 10px 20px red;
    animation-timing-function: ease-in;
}
.go{
    color: green;
    font-size: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation-name: go;
    animation-delay: 11s;
    animation-duration: 1s;
    animation-iteration-count: 5;
    text-shadow: 10px 10px 20px black;

}
@keyframes ready {
    0%{opacity: 1;}
    50%{transform: translateX(-520px)}
    100%{transform: translateX(320px)}
    
}
@keyframes set {
    from{opacity: 0;}
    to{opacity: 1;}
    
}
@keyframes go {
    from {
        transform : scale(0.5);
        opacity   : 0;
    }
    to {
        transform : scale(1.2);
        opacity   : 1;
    }
}