body{
    height: 100vh;
    background-image: url();
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.calendar{
    
    position: fixed;
    right: 15px;
    top: 15px;
    font-size: 30px;
}
.container{
    max-width: 1050px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.display-none{
    display: none;
}
.title{
    font-size: 40px;
    text-align: center;
    color: red;
    transform: translateY(-50px);
}
.weekdays-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    height: 600px;
}
#open-monday{
    background-image: url(../photos/monday.webp);
}
.week-day:hover .opacity-none{
    opacity: 1;
    color: red;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
#open-tuesday{
    background-image: url(../photos/tuesday.jpeg);
}
#open-wednesday{
    background-image: url(../photos/wednesday.jpeg);
    background-position: left;
}
#open-thursday{
    background-image: url(../photos/thursday.jpeg);
    background-position: top;
}
#open-friday{
    background-image: url(../photos/friday.jpeg);
    background-position: top;
}
#open-saturday {
    background-image: url(../photos/saturday.jpeg);
}
#open-sunday {
    background-image: url(../photos/sunday.jpeg);
    background-position: top;
}
#open-notes{
    background-image: url(../photos/notes.png);
}

.week-day{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 15px 15px 5px rgb(90, 87, 87);
    transition: all 1.15s;
    height: 100%;
    width: 100%;
}
.week-day:hover{
    transform: scale(1.2); 
}

.opacity-none{
    text-align: center;
    opacity: 0;
    transition: all 1.15s;
}


/* monday */

.week-day-personal{
    background-image: url(../photos/ready.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 70%;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#day-title{
    font-size: 30px;
}
#input{
    width: 300px;
    height: 34px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 4px 4px 10px black;
    font-size: 20px;
    padding: 10px 15px;
}
#add-btn{
    width: 50px;
    height: 34px;
    border-radius: 20px;
    background-color: black;
    color:white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 20px black;
}
.li{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 350px;
    margin-top: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
}

.icon{
    width: 20px;
    height: 25px;
    flex-basis: 10;
    margin-right: 4px;
}
.icon:hover{
    transform: scale(1.5);
}

#ul{
    display: flex;
    flex-direction: column;
}
.done{
    background-color: green;
    color: white;
}
